*{
	margin: 0;
	padding:0;
  font-family:sans-serif;
  color:#333;
  cursor:url(/images/cursor.png), auto;
}
article{
	position:absolute;
	width:100%;
	height:100%;
  overflow:hidden;
  background:#efefef;
}
nav{
  position:fixed;
  top: 0;
  right:0;
  width:128px;
  text-align:right;
  z-index:10;
  background: #ccc;
  padding-top:10px;
  border-bottom-left-radius: 2px;
}
nav a{
  display:block;
  padding:10px;
  margin-bottom:10px;
  font-weight:bold;
  -webkit-transition:background 1s ease-out;
  text-decoration:none;
}
nav a.active{
  background:white;
}
nav a.active:hover,
nav a:hover{
  color:white;
  background:#ccc;
}
nav a.active:hover{
  color:#333;
}
section{
  padding:60px;
  padding-right:188px;
  position:absolute;
  width:auto;
}
section h1{
  font-size:40px;
  font-weight:lighter;
  text-transform:uppercase;
  margin-bottom:20px;text-shadow: 1px 1px 1px #666;
  letter-spacing: -1px;
  word-spacing: 1px;
}
section ul{

}
section ul li{
  list-style:none;
  margin-bottom:20px;
  font-size:24px;
  border-left: 3px solid #ccc;
  padding:10px;
  padding-left: 20px;
}
section ul li:hover{
  background:#ffd;
  border-left: 3px solid #333;
}
section pre{
  background:white;
  color:#333;
  font-family:"Courier New", monotype;
  padding:20px;
  border-radius:2px;
  border: 3px double #ccc;
}
section blockquote{
  font-family:serif;
  font-weight:lighter;
  color:#333;
  background:white;
  padding:20px;
}
section cite{
  font-family:serif;
  font-weight:lighter;
  font-size:16px;
  font-style: italic;
}


section ul li:hover pre,
section ul li:hover blockquote{
  background:#ffb;
  color:black;
}